<!DOCTYPE html>
<html>
<head lang="pt_BR">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>InstaScript</title>
	<style>
		#console {
			position: relative;
			border: 2px solid #000;
			min-height: 300px;
			max-height: 300px;
			background-color: rgb(141, 138, 138);
			overflow-y: auto;
			scroll-behavior: smooth;
			color: rgb(248, 238, 238);
			padding: 30px 10px;
			margin: 0 auto;
		}

		#log_navbar {
			position: absolute;
			width: 100%;
			background-color: #fff;
			top: 0;
			left: 0;
			text-align: center;
			color: #000;
			font-weight: bolder;
		}
	</style>
	<link rel="stylesheet" href="./css/bootstrap.css" />
</head>
<body class="bg-light">
	<div class="container">
		<div class="row mt-5">
			<div 
				id="login-box" 
				style="padding: 20px 20px"
				class="card col-lg-4 col-md-12 col-xs-12"
			>
				<p 
					class="alert alert-warning" 
					id="alert-login"
					style="display: none"
				>
				</p>
				<form style="padding: 20px 10px" onsubmit="holdLogin(event);">
					<h5 class="lead font-weight-bold text-center mb-5">
						Login Box!
					</h5>
					<div class="input-group mb-4">
						<input 
							type="text" 
							class="form-control"
							id="username"
							placeholder="Username"
							autocomplete="username"
							onchange="handleLoginChange(event);"
						>
					</div>
					<div class="input-group mb-4">
						<input 
							type="password" 
							class="form-control"
							id="password"
							placeholder="Password"
							autocomplete="current-password"
							onchange="handleLoginChange(event);"
						>
					</div>
					<div class="button-group" style="text-align: center">
						<button 
							type="submit"
							id="submit"
							class="btn btn-raised btn-success"
						>
							Login
						</button>
					</div>
				</form>
			</div>

			<div class="col col-lg-8 col-md-12 col-xs-12 card">
				<div id="options-box" style="padding: 20px 20px">
					<div class="row">
						<div class="input-group col-lg-12 mb-3">
							<h6 class="lead font-weight-bold text-center mb-4" style="width: 100%">
								Select the operation first!
							</h6>
							<select 
								class="custom-select" 
								onchange="handleSelectChange(event); handleFormChange(event);"
								disabled
							>
								<option selected value="select">SELECT</option>
								<option value="target">FOLLOW FROM TARGET USER</option>
								<option value="hash">FOLLOW FROM HASH PAGE</option>
								<option value="comment">COMMENT FROM HASH PAGE</option>
							</select>
							<div class="text-right mt-3" style="width: 100%">
								<button 
									id="stop" 
									class="btn btn-sm btn-warning" 
									onclick="stopApp();"
									style="display: none"	
								>
									Stop
								</button>
							</div>
						</div>
					</div>
					<div class="row">
						<p 
							class="alert alert-warning col-lg-12" 
							id="alert-select"
							style="display: none"
						>
						</p>
						<form 
							id="choosen-option-box" 
							style="padding: 20px 20px; width: 100%"
							onsubmit="holdSubmit(event);"
						>
						</form>
					</div>
				</div>
			</div>			
		</div>
		<div class="row">
			<div 
				class="col col-lg-12 card"
				style="padding: 20px 20px"	
			>
				<div 
					class="col col-lg-8"
					id="console"
				>
					<div id="log_navbar">
						<span>User Log</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="application/javascript" src="./js/main.js"></script>
	<script type="application/javascript" src="./js/socket.io.js"></script>
	<script type="application/javascript" src="./js/socket.js"></script>
</body>
</html>
